.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 250px;         
  line-height: 100px;     
}


.marquee-content {
  display: inline-block;
  /* continuous right-to-left scroll */
  animation: marquee 30s linear infinite;
}

.marquee-item {
  display: inline-block;
  margin: 0 3rem;
  font-size: 6rem; 
  font-weight: 900;
  text-transform: uppercase;
  color: #555;
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;
}

.marquee-item:hover {
  color: #dc2626;
  border-bottom: 3px solid #dc2626;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%); /* repeat করা হয়েছে বলে jump হবে না */
  }
}