.active{
  color: rgba(215, 16, 42, 0.643);
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    text-align: center;
}

ul.MuiChartsLegend-root {
  color: white !important; 
}

ul.MuiChartsLegend-root li span {
  color: white !important; 
}
